@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --b1: 100% 0 100%; 
    --bc: "black";
    color-scheme: white;
  }

  body {
    background-color: hsl(var(--b1));
    color: hsl(var(--n));
  }
}

@layer base {
  * {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
}
